<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="initial-scale=1" />
  <title><%= title %></title>
  <%= stylesheet_link_tag :application, media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>">
  <%= render "flashes" -%>

  <div class="top-bar">
    <h1>
      <%= link_to "Triangle Tech Jobs", root_path %>
    </h1>
  </div>

  <main class="container">
    <%= yield %>
  </div>

  <%= render "javascript" %>
</body>
</html>
